.gpt3__header {
  display: flex;
  background-image: url('../../assets/ai.png');
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: top right;
}

.gpt3__header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 39.2rem;
  font-family: var(--font-family);
}

.gpt3__header-title {
  font-size: 3.88rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -2.48px;
}

.gpt3__header-title h1 {
  font-size: inherit;
}

.gpt3__header-content__description {
  color: var(--color-text);
  font-size: 1.25rem;
  padding: 2rem 4.1rem 2rem 0;
}

.gpt3__header-content__form-block {
  width: 100%;
}

.gpt3__header-content__form {
  display: flex;
}

.gpt3__header-content__form input {
  width: 100%;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 5px 0px 0px 5px;
  background-color: #052D56;
}

.gpt3__header-content__form input::placeholder {
  color: #3D6184;
  font: inherit;
}

.gpt3__header-content__form button {
  display: inline-block;
  padding: 1.25rem 1.625rem 1.25rem 2rem;
  background-color: #FF4820;
  border: none;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  white-space: nowrap;
  cursor: pointer;
}

.gpt3__header-content__people {
  padding: 2.45rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.gpt3__header-content__people p {
  padding-left: 1.25rem;
}

@media screen and (max-width: 1050px) {
  .gpt3__header {
    background-image: none;
  }

  .gpt3__header-content {
    width: 100%;
  }

  .gpt3__header-title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .gpt3__header-title {
    font-size: 2.8rem;
  }

  .gpt3__header-content__description {
    font-size: 1rem;
  }

  .gpt3__header-content__form input {
    padding: 1rem 2rem;
  }

  .gpt3__header-content__people {
    flex-direction: column;
    gap: 0.6rem 0;
  }

}

@media screen and (max-width: 490px) {
  .gpt3__header-title {
      font-size: 2.2rem;
      margin-top: -2.5rem;
  }
}